body {
    background-color: #999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #c65353;
    height: 70px;
    width: 100%;
    border-style: dashed;
    border-width: 3px;
    justify-content: left ;
    display: flex;
}

.logo {
    font-family: system-ui ;
    font-size: large;
    background-color: #5c8a8a;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border-style: dashed;
    text-decoration: none;
    color: #000;
    justify-content: center ;
    display: flex;
}

.Chatbutton {
    font-family: system-ui ;
    font-size: large;
    background-color: #5c8a8a;
    border-style:solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: #000;
    display: flex;
}

.contact{
    padding: 10px;
    margin: 10px;
    font-family: system-ui ;
    justify-content: center ;
    display: flex;
    cursor: pointer;
}

.alert-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.nicepicture-container {
  display: none;
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.borderpicture {
  margin: 20px;
  border-color: black;
}

.nicePictures {
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.alert-box {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.alert-box button {
    background-color: #5c8a8a;
    height: 30px;
    width: 100px;
    color: #000;
    border-radius: 10px;
    border-style: dashed;
    cursor: pointer;
}

.alert-box p {
    width: 80px;

}

.alert-box input {
    border-style: solid;
    border-radius: 5px;
    height: 20px;
}

.inputNotLoggedIn {
    display: flex;
    justify-content: left;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.News {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 3px;
    background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.7), rgba(153, 153, 153, 0.8)), url("img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.newsContent {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.New {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    border-radius: 7px;
    background: rgba(0,0,0,0.4);
    height: 200px;
    width: 300px;    
}

.New h1 {
    color: #000;
    font-size: 20px;
    margin: 5px;
}
.New div {
    flex-direction: row;
    display: flex;
}
.New p {
    color: #fff;
    font-size: 20px;
    margin: 5px;
}
.newspic{
    overflow: hidden;
    height: 400px;
    width: 270px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.405);
} 

.picture {
    height: auto;
    width: 500px;
    border-radius: 9px;
    border-style: solid;
   
}

.maininfo {
    display: flex;
    flex-direction: column;
    background-color: #5c8a8a;
    border-radius: 7px;
    margin: 3px;
    padding: 3px;
    border-style: dashed ;
    border-color: #33333333;
}

.Usr {
    display: inline-block;
    flex-direction: column;
    background-color: #5c8a8a;
    border-radius: 7px;
    margin: 3px;
    padding: 3px;
    border-style: dashed ;
    border-color: #33333333;
}

.usrpic {
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 15px;
    
}

.newPic {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 503px;
    height: auto;
    border-style: solid;
    margin: 10px;
}

.terminall {
    background-color: #000;
    color: #fff;
    height:300px;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    flex-direction: column;
    box-shadow: 10px, 10px;
    display: none;
}
.terminall Button {
    background-color: #000;
    border-style: none;
    margin: 5px;
    flex-direction: left;
}
.overflowScroll {
    overflow: scroll;
    position: relative;
    height: 270px;
    width: 320px;
}

.line{
    display: flex;
    width: 100%;
    caret-color: #33cc33;
    position: relative;
}

.line button :hover {
    cursor: pointer;
}

.terminall span{
    display: table-cell;
    color: #658d1c;
}
.chatContainer p {
    color: #5c8a8a;
    font-size: small;
}

.chatContainer h1 {
    color: #c65353;
    font-size: medium;
}
.terminall input {
    display: table-cell;
    width: 100%;
    border: none;
    background: black;
    color: #669999;
    outline: none;
    font-size: 15px;
}

.lastcommandspace {
    color: #669999;
}

.dashbordIframe {
    height: 1000px;
    width: 100%;
    border-style: none;
}
